.editArea {
    padding: 20px;
    height: 60%;
}

.newsbuttonContainer {
    position: relative;
    float: right;
    display: flex;
    width: 200px;
    margin: 20px;
}

.button {
    flex:1
}

.previewContent {
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(245, 245, 245);
}

.title {
    height: 50px;
    line-height: 78px;
    text-align: center;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.steps {
    padding: 40px;
}